.title-home {
  color: black;
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}

.container-home {
  position: relative;
  width: 80%;
  left: 10%;
}

.text-home {
  font-size: 18px;
}

@media (max-width: 768px) {
  .container-home {
    width: 100%;
    left: 0%;
  }
  .title-home {
    font-size: 30px;

  }
  .text-home {
    position: relative;
    width: 96%;
    left: 2%;
    display: block;
    text-align: justify;
  }
}
