@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.brand {
  font-family: 'Anton', sans-serif;
}

.container-app {
  min-height: calc(100vh - 70px);
}

.footer-app {
  height: 35px;
}

@media (max-width: 768px) {
  .container-app {
    min-height: calc(100vh - 140px);
  }

  .footer-app {
    height: 110px;
  }
}
